################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/.git/

/Bin/

/BookManagement/bin/
/BookManagement/obj/

/Cmn_Data_Ora/bin/
/Cmn_Data_Ora/obj/

/Cmn_Data_Pg/bin/
/Cmn_Data_Pg/obj/

/Cmn_Data_SqlSer/bin/
/Cmn_Data_SqlSer/obj/

/CmnClsLib_Cnstnt/bin/
/CmnClsLib_Cnstnt/obj/

/CmnClsLib_Func/bin/
/CmnClsLib_Func/obj/

/DataMngLayer/bin/
/DataMngLayer/obj/

/LearningC/bin/
/LearningC/obj/

/MicroCalculator/bin/
/MicroCalculator/obj/

/packages/

/SimpleCalculator/bin/
/SimpleCalculator/obj/

/YuChen/bin/
/YuChen/obj/
